{% extends "base.html" %}

{% block content %}

<h2>Cadastro de Matérias</h2>

<p>Use o formulário abaixo para cadastrar as matérias que você deseja acompanhar.</p>

<form method="POST" action="/materias">
    <label>Nome da matéria:</label>
    <input type="text" name="nome" required>

    <label>Descrição:</label>
    <textarea name="descricao" rows="3"></textarea>

    <button type="submit" class="button">Cadastrar matéria</button>
</form>

<hr>

<h3>Matérias cadastradas</h3>

{% if materias %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Matéria</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for materia in materias %}
            <tr>
                <td>{{ materia["id"] }}</td>
                <td>{{ materia["nome"] }}</td>
                <td>{{ materia["descricao"] }}</td>
                   <td>
        <form method="POST" action="/materias/excluir/{{ materia['id'] }}" onsubmit="return confirm('Deseja realmente excluir esta matéria?');">
            <button type="submit" class="button danger">Excluir</button>
                </form>
              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Nenhuma matéria cadastrada ainda.</p>
{% endif %}

<br>

<a href="/" class="button">Voltar para início</a>

{% endblock %}